   <!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
   <header>
        <nav class="navbar navbar-inverse"  style="background-color:green; padding-left:20px; padding-right:20px;">
          <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" routerLinkActive="active"  routerLink="/"  [routerLinkActiveOptions]="{ exact: true }">TEBGM APP</a>
                </div>
              <ul class="nav navbar-nav">
                <li><a routerLink="/DemandComponent" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Blood Demand </a></li>
                <li><a routerLink="/EmployeeRegistration" routerLinkActive="active" >Employee Registration</a></li>
                <li><a routerLink="/BloodRequesterRegistration" routerLinkActive="active">Blood Requester Registration</a></li> 
                <li><a routerLink="/InTray" routerLinkActive="active">In-Tray</a></li> 
                <li><a routerLink="/EmployeeFeedBack" routerLinkActive="active">Employee FeedBack</a></li> 
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/SignUp" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a routerLink="/Login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
         </div>
        </nav>
   </header>
  
     <main>
          <div class="jumbotron" style="height:800px;" style="background-color:cyan;">
              <div class="row">
                <router-outlet></router-outlet>
              </div>
          </div>
     </main>

   <footer style="text-align:right">
   Copyright &copy; TEBGM APP :2016 
  </footer> 
  </body>
</html>